.profil-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: bold;
}

.profil-tabs .ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 0px solid #f0f0f0;
}

.profil-tabs .ant-tabs-tab {
  font-size: 12px;
  color: #707070;
}

.profil-tabs .ant-tabs-tab.ant-tabs-tab-active::before {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 7px;
  border-bottom: 2px solid #3644d9;
  content: '';
}

.profil-tabs .ant-menu-inline {
  border-right: 0px;
}

.profil-tabs .ant-menu-inline .ant-menu-item::after {
  border-right: 0px;
}

.profil-tabs .ant-menu-inline.ant-menu-root .ant-menu-item {
  padding: 4px 24px !important;
  font-size: 11px;
  width: 89px;
  height: 20px;
  color: #707070;
}

.profil-tabs .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border-radius: 3px;
}

.profil-tabs .ant-tabs-nav-list {
  padding: 5px 18px;
}

.ant-tabs-tab-btn {
  transition: none;
}

.profil-tabs .ant-tabs-ink-bar {
  background-color: transparent;
}
